{
  "presets": [
    "next/babel",
    "es2015"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./client/front"],
        "alias": {
          "components": "./components",
          "libs": "./libs",
          "gql": "./gql"
        }
      }
    ],
    "transform-object-rest-spread"
  ]
}
