{
  "presets": [
    "next/babel",
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-do-expressions",
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./client/admin"],
            "alias": {
              "src": "./src",
              "config": "./config",
              "components": "/components",
              "gql": "/gql",
              "libs": "/libs"
            }
          }
        ]
      ]
    },
    "production": {
      "plugins": [
        [
          "module-resolver",
          {
            "root": ["./client/admin"],
            "alias": {
              "src": "./build",
              "config": "./config",
              "components": "/components",
              "gql": "/gql",
              "libs": "/libs"
            }
          }
        ]
      ]
    }
  }
}
